.app__hotels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  width: 96%;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: hidden;

  .app__hotels-title {
    font-weight: 600;
  }

  .app__hotels-card {
    display: flex;
    width: 100%;
    gap: 1.5rem;

    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: auto;
    padding: 3rem 2rem 0 2rem;
    height: calc(100vh - 6rem);
    // scroll-snap-type: x mandatory;
    ul {
      display: flex;
      flex-direction: column;

      .app__hotels-details {
        display: flex;
        flex-direction: column;
        width: 24rem;
        height: 100vh;
        position: relative;
        overflow: hidden;

        // width: calc((100% / 3));
        // scroll-snap-align: start;

        padding: 10px;
        text-align: center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.8);
        transition: all 0.3s ease;
        z-index: 2;

        img {
          width: 100%;
          height: 100%;

          // position: absolute;
          // top: 0;
          // left: 0;
          // object-fit: cover;
          z-index: 1;
        }

        h2,
        p {
          position: absolute;
          z-index: 3;
          color: white;
          margin: 0;
          padding: 0.5rem;
          // background: rgba(0, 0, 0, 0.5);
          transition: opacity 0.3s ease-in-out;
        }

        h2 {
          top: 10%;
          opacity: 1;
        }

        p {
          bottom: 10%;
          text-align: start;
          opacity: 0;
        }

        &:hover {
          transform: scale(1.05);
          // background-color: rgba(0, 0, 0, 0.8);
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(0, 0, 0, 0.8);
          transition: all 0.3s ease;

          p {
            opacity: 1;
          }
        }
      }
    }
  }
}
